*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;   
 background: #212F3C;
}

img{
    overflow-y: hidden;
}
.first_page{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;     
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5) ), url(images/owen_chill.jpg);
    background-position: center;
    background-size: cover;
}
.intro{

   width: 85%;
   height: 100vh;
   position: relative;
}

.intro h1{
  position: absolute;
  bottom: 90px;
  left:0px;
  font-size: 170px;
  color: transparent;
-webkit-text-stroke: 1px white;
}
.text{
     font-size:30px ;
     bottom: 250px;
      left: 15px;
      color: wheat;
}
p{
     position: absolute;
     font-size:30px ;
     bottom: 70px;
      left: 250px;
      color: white;
}
.links{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    width: 15%;
    height: 100vh;
    padding-top: 70px;
   
}
.socials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 35px;
    color: white;
}
.fa{
    padding: 10px;
}
.fa:hover{
    cursor: pointer;
}
 .fa-linkedin{
     color: blue;
       border-radius: 10px;
 }
 .fa-twitter{
     color: skyblue;
     border-radius: 10px;
 }
 .fa-youtube{
     color: red;
       border-radius: 10px;
 }
button{
    padding: 10px;
    color: white;
    border-radius: 10px;
    border: none;
    width:120px;
    transition: 1s;
    background: #212F3C;
     background-image: linear-gradient(
 45deg,
 greenyellow,
 blue
 );
}

button:hover{
    cursor: pointer;
    box-shadow: 2px 2px 0 0px greenyellow;
    border: none;
    color: white;
}
.h3{
     margin: 40px;
 
}
/* here marks the beginning of the second section that is the main content section containing different topics or subjects */
.content{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}
/* skills div with 2 divs containing  the programming languages div and the soft skills div */
.skills{
   display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
 background: #212F3C;

}
/* div containing the programming languages  */
.programming{
     display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    align-content: center;
    height: 40vh;
    width: 100%;
    margin: 10px auto;
    padding: 20px;
   position: relative;
}
.title{
     position: absolute; 
     top: 0px;
    left: 20px;
    height: 30px;
    color: antiquewhite;
    /* use breakpoints to reduce the size of the title */
}
.additionals h3{
      position: absolute; 
     top: 0px;
    left: 55%;
    color: antiquewhite;
}

.programming [src]{
    margin-left: 7px;
    padding: 5px;
    width: 76px;
    height: 66px;
    opacity: .5;
    transition: 1s;
     border-radius: 10px;
      transform: scale(1.1);
}
.programming [src]:hover{
    opacity: 1;
      transform: scale(1.2);
    cursor: pointer;
}
.languages,.additionals{
     display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
    align-content: center;
    width: 50%;  
   justify-content: flex-start;
    height: 30vh;
}
/* other additional such as version control */

/* div containing the soft skills */
.soft_skills{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    height: 60vh;
    width: 100%;
     margin: 10px auto;
position: relative;
}
.soft_skills h3{
    position: absolute;
    top: 5px;
    color: antiquewhite;
}

/* sizing and styling  all the images */
.image h4{
     padding-bottom: 15px;
     text-align: center;
     color: bisque;
}
.image [src]{
    flex-grow: 1;
    width: 86px;
    height: 76px;
    opacity: .5;
    transition: 1s;
     border-radius: 3px;
   background-color: rgb(248, 239, 239);
  
}
.image [src]:hover{
    opacity: 1;
    rotate: 15deg;
    transform: scale(1.2);
    cursor: pointer;

    
    /* add breakpoints to ensure that the images are smaller and well arranged */
    
}
/* end of styling the images */

/* the experience div */
.exp{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.exp h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    text-align:center;
}

/* the end of the experience div  */
/* the beginning of the projects div styling */
.projects{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
      margin:  20px 0 5px 10px;
      position: relative;
      
}
.projects img{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    opacity: .5;
    transition: 1s;
    /* breakpoints for the image */
}
.projects img:hover{
     transform: scale(1.1);
     opacity: 1;
     cursor: pointer;
}
.projects h3{
    text-align: center;
   padding: 10px;
   color: greenyellow;
}
.projects h4{
    position: absolute;
    top: 0px;
    color: antiquewhite;
    font-size: 20px;
    /* breakpoints for the text */
    padding: 10px;
}
.myproject{
    position: relative;
}
.myproject i{
    color: lightgray;
  position: absolute;
  bottom: -40px;
  left: 40%;
  transition: .5s;
   transform: scale(1.2)
}
.myproject i:hover{
color: white;
 transform: scale(1.3);
   
}


/* breakpoints for the several parts */
@media(max-width: 686px){
    .first_page{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}
    .links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    width: 100%;
    height: 15vh;
    padding-top: 20px;
    position: relative;

}
    .h3{
     margin: 15px;
     padding: 9px;
     display: inline-block;
   
}
    button{
    padding: 6px;
    color: white;
    border-radius: 10px;
  
    width:90px;
    transition: 1s;
}
.intro{
    display: flex;
    width: 100%;
}

.projects img{
    width: 150px;
    height: 150px;
}
.projects h3{
 font-size: 15px;
}
.image [src]:hover{
     transform: scale(1.1);
        rotate: 10deg;
}
    .socials{
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100%;
    height: 6vh;
    margin: 15px;
    top: 0;
    padding-top: 0px;
    bottom: 10rem;
}
    .intro h1{
  position: absolute;
  bottom: 40px;
  left:0px;
  font-size: 100px;
}
    .text{
     font-size:30px ;
     bottom: 130px;
      left: 15px;
      color: wheat;
}
    p{
     position: absolute;
     font-size:20px ;
     bottom: 20px;
      left: 100px;
      color: white;
}
.programming [src]{
    margin-left: 7px;
    margin-top: 10px;
    padding: 5px;
    width: 66px;
    height: 56px;
}
.title{
     position: absolute; 
     top: 0px;
    left: 1px;
    height: 30px;
    font-size:12px;
    /* use breakpoints to reduce the size of the title */
}
.additionals h3{
      position: absolute; 
     top: 0px;
    right: 1px;
    font-size:12px;
    padding-left: 15px;


}
}